@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    background-color: black;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;

}

.navbar .logo {
    letter-spacing: 2px;
    font-family: "Mr Dafoe", cursive;
    font-size: 35px;
    color: rgb(160,164,188)
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13.5px;
    position: relative;
    text-transform: uppercase;
}

.nav-bar ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: wheat;
    position: absolute;
    bottom: -2px;
    left: 50%;
    translate: -50% 0;
    transition: width .8s;
}

.nav-bar ul li a:hover::after {
    width: 100%;
}

.category {
    margin: 50px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.category h2 {
    text-align: center;
    margin-bottom: 20px;
}

.wallpapers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 17px;
}

.wallpaper {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.wallpaper img {
    width: 250px;
    height: 210px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.wallpaper img:hover {
    transform: scale(1.05);
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
}

.download-btn {
    margin-top: 10px;
    padding: 5px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.download-btn:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
}

.about {
    background-color: wheat;
    text-align: center;
    padding: 20px;
}

.privacy {
    background-color: black;
    color: white;
    font-size: 9px;
    text-align: center;
    padding: 12px;
    width: 100%;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-div {
        margin-bottom: 10px;
    }

    .nav-bar ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-bar ul li {
        margin: 5px 0;
    }

    .category {
        margin: 20px 0;
        padding: 15px;
    }

    .wallpaper img {
        width: 200px;
        height: 190px;
    }
}

@media (max-width: 480px) {
    .navbar h1 {
        font-size: 24px;
    }

    .logo {
        font-size: 20px;
    }

    .nav-bar ul li {
        margin: 8px 0;
    }

    .category h2 {
        font-size: 20px;
    }

    .wallpaper img {
        width: 240px;
        height: 320px;
    }

    .download-btn {
        padding: 7px 12px;
        font-size: 14px;
    }
}
